$color-default: #404040;
$color-secondary: #6C7781;
$color-light: #E2E4E7;
$color-link: #0071A1;

@import 'core';

section{
	padding: 30px;
}

body {
	background-color: gainsboro;

	box-sizing: border-box;
}

*{
	box-sizing: inherit;
}



.wp-notification {
	width: 100%;
	max-width: 320px;
	background: white;

	padding-left: 24px;
	padding-right: 24px;

	padding-top: 14px;
	padding-bottom: 16px;

	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: $color-default;
	display: flex;

	&-image{
		width: 32px;
		height: 32px;
		border-radius: 8px;
		margin-right: 8px;
		margin-top: 1px;
		user-select: none;
		-webkit-user-drag: none;

		&.default{
			padding: 8px 9px;
			background-color: $color-light;
		}
	}

	&-title {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 2px 0;
	}

	&-message{
		margin: 0 0 8px 0;
	}

	&-action{
		text-decoration-line: underline;
		color: $color-link;
	}

	&-source{
		color: $color-secondary;
		margin: 10px 0 0 0;
	}
}