<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        >
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite name="Php tests">
            <directory suffix=".php" phpVersion="*">tests/phpunit/tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
