/*
 * Hub Elements style (header, footer etc)
 */
#wp-notifications-hub {

	* {
		margin: 0;
		padding: 0;
		line-height: 1.5;
		box-sizing: border-box;
	}

	h2 {
		font-weight: 700;
		font-size: 1.2rem;
		margin: 0;
	}

	/*
	 * Hub HEADER
	 */
	header {
		position: sticky;
		z-index: 2;
		min-height: 50px;
		top: 0;
		background: $color-white;
		box-shadow: 0 0 0 1px $color-white;
		padding: 0 var(--wp-notify--hub-spacing-horizontal) 10px;

		.wp-notifications-action.mark-as-read {

			svg {
				vertical-align: middle;
			}
		}
	}

	/*
	 * Hub FOOTER
	 */
	#wpadminbar & footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;

		// The shadow at the end of sidebar
		&::before {
			content: "";
			display: block;
			box-shadow: 0 1rem 24px 2px var(--wp-notify--color--primary);
			width: 80%;
			margin: auto 10%;
			position: absolute;
			z-index: -1;
			top: 0;
		}

		&:focus {
			outline: none;
		}

		.components-button {
			line-height: 1;
			height: 56px;
			width: 100%;
			text-align: center;
			background: var(--wp-notify--color--background);
			padding: 15px var(--wp-notify--hub-spacing-horizontal);
			border-top: 1px solid $color-black-400;

			svg {
				fill: var(--wp-notify--color--link);
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: var(--wp-notify--color--link-active);

				svg {
					fill: var(--wp-notify--color--link-active);
				}
			}

			// Outline the footer element if it is selected with tab
			&:focus {
				border-radius: 2px;
				outline: 2px solid $color-black;
			}
		}
	}
}
