/*
 * Hub Elements style (header, footer etc)
 */
#wp-notification-hub {
	* {
		margin: 0;
		padding: 0;
		line-height: 1.5;
		box-sizing: border-box;
	}

	h2 {
		font-weight: bold;
		font-size: 1.2rem;
		margin: 0;
	}

	/*
	 * Hub HEADER
	 */
  header {
    position: sticky;
    z-index: 2;
    min-height: 50px;
    top: 0;
    background: var(--wp-notify_color-white);
    box-shadow: 0 0 0 1px var(--wp-notify_color-white);
    padding: 0 var(--wp-notify_hub-spacing-horizontal) 10px;

		#clear-all-wp-notify-adminbar {
			svg {
				vertical-align: middle;
			}
		}
  }

  /* Reset icon color since by default the icon is lightened when the mouse is in hover state */
  #wpadminbar &:hover footer  {
		&,
		a .ab-icon:before {
      color: var(--wp-notify_color-link);
    }

		&:hover,
    &:hover a .ab-icon:before {
      color: var(--wp-notify_color-link-active);
    }
  }

	/*
	 * Hub FOOTER
	 */
  footer {
    position: fixed;
		text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--wp-notify_color-white);
    padding: 15px var(--wp-notify_hub-spacing-horizontal);
    border-top: 1px solid var(--wp-notify_color-light-gray);

		.ab-icon {
			position: inherit;
		}

    a,
    .ab-icon:before {
      color: var(--wp-notify_color-link);
			line-height: 20px;

			&:hover {
				color: var(--wp-notify_color-link-active);
			}
		}


		// Outline the footer element if it is selected with tab
		a:focus-visible {
			border-radius: 2px;
			outline: 2px solid black;
		}
  }

  #wpadminbar .quicklinks & a {
    height: inherit;
  }

	// links color
  li {
		&:active .ab-icon:before {
			color: var(--wp-notify_color-link);
		}
		&:hover .ab-icon:before{
			color: inherit;
		}
	}

}
