/*
 * The single notification
 */
#notification-hub {

	.wp-notification {
		max-width: 100%;
		margin-left: var(--wp-notify--hub-spacing-gap);
		margin-right: var(--wp-notify--hub-spacing-gap);
		user-select: none;
		-webkit-user-drag: none;

		padding: var(--wp-notify--hub-spacing-top) var(--wp-notify--hub-spacing-horizontal) var(--wp-notify--hub-spacing-gap);

		gap: 12px;
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: var(--wp-notify--hub-image-size) auto;
		grid-auto-flow: row;

		// shows the selected item using the webkit default styling
		&:focus-visible {
			border-radius: 2px;
			outline: 2px solid var(--wp-notify--color--black);
		}

		&-wrap {
			margin-top: -4px;

			> * {
				margin: 0 0 4px;
			}
		}

		&-title {
			font-weight: 600;
			line-height: 1.5;
		}

		&-action {
			display: block;
			border: 0;
			background: transparent;
		}

		&-image {
			min-width: var(--wp-notify--hub-image-size);
			width: var(--wp-notify--hub-image-size);
			height: var(--wp-notify--hub-image-size);
			position: relative;
			grid-row: 1;

			* {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-icon {

			background: var(--wp-notify--color--black-200);
			border-radius: 8px;

			.ab-icon {
				font-size: 24px;
				padding: 4px;
				line-height: 1;

				&::before {
					color: var(--wp-notify--color--white);
					opacity: 0.9;
				}
			}
		}

		/*
		* Notice type
		*/
		&.user {

			.wp-notification-image img {
				border-radius: 8px;
			}
		}
	}


	/*
	* Notice Severity
	*/
	$alertSeverity: (
		"alert": var(--wp-notify--color--error),
		"warning": var(--wp-notify--color--warning),
		"success": var(--wp-notify--color--success),
		"info": var(--wp-notify--color--blue)
	);

	@each $key, $value in $alertSeverity {
		.wp-notification .severity-#{$key} {
			background-color: #{$value};
		}
	}
}
