/*
 * The single notification
 */
#wp-notification-hub {
  .wp-notification {

    max-width: var(--wp-notify_hub-width);
    user-select: none;
    -webkit-user-drag: none;

    border-width: 2px;
    border-color: transparent;
    border-style: dashed;
    border-radius: 3px;
    padding: var(--wp-notify_hub-spacing-top) var(--wp-notify_hub-spacing-horizontal) var(--wp-notify_hub-spacing-gap);

    gap: 8px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: var(--wp-notify_hub-image-size) auto;
    grid-auto-flow: row;

    &:focus,
    &:active {
      border-color: #aaa;
    }

    .wp-notification-image {
      min-width: var(--wp-notify_hub-image-size);
      width: var(--wp-notify_hub-image-size);
      height: var(--wp-notify_hub-image-size);
      position: relative;
      grid-row: 1;

      * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .wp-notification-wrap {
      margin-top: -4px;

      > * {
        margin: 0 0 8px;
      }
    }

    .wp-notification-title {
      font-weight: 600;
      line-height: 1.5;
      margin: 0;
    }

    .wp-notification-action {
      padding: 0;
      border: 0;
      background: transparent;
    }

    /*
     * Notice type
     */
    &.user {
      .wp-notification-image img {
        border-radius: 8px;
      }
    }

    &.plugin {
    }

    .wp-notification-icon .ab-icon {
      font-size: 24px;
      padding: 4px;
      line-height: 1;

      &:before {
        color: var(--wp-notify_color-white);
        opacity: .9;
      }
    }

    .wp-notification-icon {
      background: var(--wp-notify_color-light-gray-500);
      border-radius: 8px;
    }

    &.alert {
      .wp-notification-image {
        background: var(--wp-notify_color-error);
      }
    }

    &.warning {
      .wp-notification-image {
        background: var(--wp-notify_color-warning);
      }
    }

    &.success {
      .wp-notification-image {
        background: var(--wp-notify_color-success);
      }
    }

    &.info {
      .wp-notification-image {
        background: var(--wp-notify_color-blue);
      }
    }

  }
}
