/*
 * General notifications style
 */
.wp-notification {
  background: var(--wp-notify_color-white);
  color: var(--wp-notify_color-default);
  overflow: hidden;
  max-height: 600px;

  .wp-notification-action {
    text-decoration-line: underline;
    color: var(--wp-notify_color-link);
  }

  .wp-notification-source {
    color: var(--wp-notify_color-secondary);
  }

  &.dismissing {
    transition: opacity 100ms, padding 100ms, max-height 100ms;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 0;
    opacity: 0;
  }
}



/*
 * Dashboard notifications
 */

#wpbody {

  #wp-notify-dashboard-notices,
  #wp-notify-notice-demo {
    clear: both;
  }

  .wp-notification {
    --wp-notify_hub-spacing-top: clamp(2em, 3vh, 3em);
    --wp-notify_hub-element-bottom: clamp(1.5em, 3vh, 3em);
    --wp-notify_hub-spacing-spacing: clamp(2.5em, 3vh, 4em);

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 200px;
    grid-auto-flow: row;
    gap: 50px;

    justify-content: space-between;

    padding: var(--wp-notify_hub-spacing-top) 20px var(--wp-notify_hub-spacing-spacing) 36px;
    margin: 10px 0 var(--wp-notify_hub-element-bottom);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

    border-left-width: 4px;
    border-left-style: solid;
    border-color: var(--wp-notify_color-light-gray);

    + .wp-notification {
      margin-top: calc(var(--wp-notify_hub-element-bottom) * -1);
      border-top: none;
    }

    .wp-notification-wrap {
      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .wp-notification-actions-wrap {

      .button {
        padding: 8px;
        text-decoration: none;
        line-height: 20px;
        border: 1px solid transparent;
        border-radius: 3px;
      }

      .button-primary {
        padding: 8px 32px;
      }
    }

    .wp-notification-image img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      object-position: center;
      object-fit: contain;
    }

    @media #{$breakpoint} {
      grid-template-columns: auto;
      .wp-notification-wrap{
        order: 2
      }
    }
  }
}
