// https://make.wordpress.org/design/handbook/design-guide/foundations/colors/
:root {
	// WP Notification Feature base colors
	--wp-notify--color--white: #fff;         // White
	--wp-notify--color--black-200: #e2e4e7; // Gray 200
	--wp-notify--color--black-300: #e8eaeb; // Gray 300
	--wp-notify--color--black-400: #c3c4c7; // Gray 400
	--wp-notify--color--black-500: #6c7781; // Gray 500
	--wp-notify--color--black-700: #444;    // Gray 700
	--wp-notify--color--black-800: #23282d; // Gray 800
	--wp-notify--color--black: #000;        // Black

	--wp-notify--color--yellow: #ffb900;     // Yellow
	--wp-notify--color--green: #46b450;      // Green
	--wp-notify--color--red: #d94f4f;        // Alert Red
	--wp-notify--color--blue: #0071a1;       // Blue Dark 900
	--wp-notify--color--blue-light: #72aee6; // Blue 20

	--wp-notify--color--default: var(--wp-notify--color--black-700);
	--wp-notify--color--secondary: var(--wp-notify--color--black-500);

	--wp-notify--color--scrollbar: var(--wp-notify--color--black-300);
	--wp-notify--color--link: var(--wp-notify--color--blue);
	--wp-notify--color--link-active: var(--wp-notify--color--blue-light);
	--wp-notify--color--error: var(--wp-notify--color--red);
	--wp-notify--color--info: var(--wp-notify--color--blue);
	--wp-notify--color--warning: var(--wp-notify--color--yellow);
	--wp-notify--color--success: var(--wp-notify--color--green);

	// WP Notification Feature hub (admin top bar)
	--wp-notify--hub-width: 320px;
	--wp-notify--hub-image-size: 32px;

	--wp-notify--hub-spacing-top: 15px;
	--wp-notify--hub-spacing-bottom: 17px;
	--wp-notify--hub-spacing-horizontal: 16px;
	--wp-notify--hub-spacing-gap: 8px;
}

// Mobile breakpoint used in wp-admin.
$breakpoint: "screen and (max-width: 782px)";
